<% provide :title, 'All users' %>

<%= render 'shared/search_form' %>

<h1>
  <%= params[:search].nil? ? 'All users' : 'Search users' %>
</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>